$font-family:'Kumbh Sans',
sans-serif;
// color
$color-primary    :hsl(26, 100%, 55%);
$color-secondary  :hsl(25, 100%, 94%);
$color-white      : hsl(0, 0%, 100%);
$color-black      :hsl(0, 0%, 0%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue     : hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%)